html.ScoreOptionPageBody {
    min-height: 100%;
    display: flex;
}

body.ScoreOptionPageBody {
    flex: 1;
}

#root.ScoreOptionPageBody {
    height: 100%;
}

.App#ScoreOptionPageBody {
    height: 100%;
    display: flex;
    flex-direction: column;
}


main#scoreOptionPage {
    display: flex;
    flex-direction: column;
    padding: 30px 20%;
    /* height: 100%; */
}



/* Genre */
.genre-options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
    overflow:visible;
}

.genre-option-prompt {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.genre-option-prompt>h3 {
    color: #828282;
    font-size: 25px;
    font-weight: 800;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.genre-option-prompt>h1 {
    color: #4d4d4d;
    font-size: 50px;
    font-weight: 1000;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.genre-option-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.genre-option {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;

}

.genre-option>button {
    height: 175px;
    width: 175px;
    border-radius: 10px;
    border: 5px solid #6b6b6b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.genre-option>button:hover {
    border: 5px solid #a19e9e;
}

.genre-option>.bach-image {
    background-image: url(./static/bach.png);
}

.genre-option>.mozart-image {
    background-image: url(./static/mozart.png);
}

.genre-option>.chopin-image {
    background-image: url(./static/chopin.png);
}

.genre-option>.debussy-image {
    background-image: url(./static/debussy.png);
}

.genre-option>.schoenberg-image {
    background-image: url(./static/schoenberg.png);
}

.genre-option>.genre-option-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.genre-option-description>h2 {
    font-size: 25px;
    font-weight: 900;
    color: #4f4f4f;
}

.genre-option-description>p {
    font-weight: 18px;
    color: #494949;
}


