main#scoreOptionPage {
    display: flex;
    flex-direction: column;
    padding: 30px 27%;
    height: 100%;
}

/* .speed-duration-options {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 40px 0;
}

.duration-options {
    display: flex;
    flex-direction: column;
}

.duration-options>h2, .speed-options>h2 {
    color: #828282;
    font-size: 25px;
    font-weight: 800;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.duration-options>.duration {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    gap: 10px;
    align-items: center;
}

.duration>p {
    font-size: 45px;
    font-weight: 1000;
    color: #5c5c5c;
    overflow: hidden;

}

.duration>.arrows {
    display: flex;
    flex-direction: column;
}

.arrows>button {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrows>button:hover {
    opacity: 50%;
}

.arrows>.up-arrow {
    background-image: url(./static/UpArrow.svg);
}

.arrows>.down-arrow {
    background-image: url(./static/DownArrow.svg);
}

.speed-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.speed-options>.speeds {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.speeds>.speed {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.speed>button {
    background-color: transparent;
    border: none;
    color: #5c5c5c;
    font-size: 28px;
    font-weight: 800;
}

.speed>button:hover {
    color: #848383;
    
}

.speed>img {
    height: 20px;
    width: 20px;
} */

/* Genre */
.genre-options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
    overflow:visible;
}

.genre-option-prompt {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.genre-option-prompt>h3 {
    color: #828282;
    font-size: 25px;
    font-weight: 800;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.genre-option-prompt>h1 {
    color: #4d4d4d;
    font-size: 50px;
    font-weight: 1000;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.genre-option-wrapper {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.genre-option {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.genre-option>button {
    height: 175px;
    width: 175px;
    border-radius: 10px;
    border: 5px solid #6b6b6b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.genre-option>button:hover {
    border: 5px solid #a19e9e;
}

.genre-option>.bach-image {
    background-image: url(./static/bach.png);
}

.genre-option>.mozart-image {
    background-image: url(./static/mozart.png);
}

.genre-option>.chopin-image {
    background-image: url(./static/chopin.png);
}

.genre-option>.genre-option-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.genre-option-description>h2 {
    font-size: 25px;
    font-weight: 900;
    color: #4f4f4f;
}

.genre-option-description>p {
    font-weight: 18px;
    color: #494949;
}


