/* 
CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
Application CSS
*/


html * {
    font-family: 'Inter', 'Arial';
    font-style: normal;
}

/* This is for option page */
/* html.ScoreOptionPageBody, body.ScoreOptionPageBody, #root.ScoreOptionPageBody {
    height: 100%;
} */

.App#ScoreOptionPageBody {
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* This is for About Page */

.AboutPage, .App#AboutPage {
    /* display: flex;
    flex-direction: column;
    padding: 30px 20%; */
    height: 100%;
}


/* .App {
    display: grid;
    grid-template-rows: 2fr 18fr 1fr;

    
    height: 100%;
    display: flex;
    flex-direction: column;
    
} */

header {
    display: flex;
    flex-direction: row;
    padding: 0 20%;
    height: 100px;
    background-color: #3A3939;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>img {
    width: 80px;
    height: 80px;
}

nav {
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.navbox {
    background-color: #AEAEAE;
    border: solid 0.5px #696969;
}

.navbox:hover {
    background-color: #dbd8d8;
}

.navbox>button {
    height: 100%;
    width: 100%;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 1em;
    border: none;
    background-color: transparent;
}

/* #create {
    background-color: #696969;
    color: #FFFFFF;
} */

footer {
    height: 50px;
    margin-top: auto;
    background-color: #3A3939;
}



